#safety{
    text-align: center;
    
}
#measures-list li,p {
    margin-left: 150px;
    margin-right: 150px;
    
}

@media screen and (max-width: 600px){
    #measures{
        width: 100%;
        margin-left: 17px;
        margin-right: -100px;
        /* background-color: blue; */
        
        
        
    
    }
    #safety{
        text-align: center;
        margin-left: 83px;
    }
    #measures-list li,p {
        margin-left:0px;
        margin-right: -80px;
        
    }

}
