/* #tot-cases-heading{
    text-align: center;
    
}
#state-table-heading{
    text-align: center;
    

}
#district-info{
    text-align: center;
    margin-left: 138px;

} */



#table{
    padding-top: 80px;
    /* margin: auto; */
    /* max-width: 400px; */
    width: 100%;
    /* background-color: grey; */
    
}
#total-cases{
    width: 100%;
    margin: auto;
    padding:0;
    
}
#state-table{
    /* background-color: grey; */
    width: 100%;
    margin: auto;
   
}





/* loading screen */
.loading{
    margin-top: 200px;
    padding-bottom: 800px;

}
#load{
    margin:auto;
    
    
    width: 100px;
    height: 100px;
    background: rgb(3, 178, 201);
    position: relative;
    animation: mymove 2s infinite;
    border-radius:10px;
}
#load-heading{
    text-align: center;
    padding-bottom: 50px;
}
/* loading screen animation */
@keyframes mymove {
    from {transoform: rotate(0deg);}
    to {transform : rotate(360deg);}
}



/* @media screen and (max-width: 600px){
    #total-cases{
       width: 80%;
       margin: auto;
        
        
    }
    
    #state-table{
        margin-right: 10px;
        
    }
    #tot-cases-heading{
        text-align: center;
        margin-left: 91px;
        margin-right: -61px ;
       
        
    }
    #state-table-heading{
        margin-left: 124px;
        margin-right: -40px;

    }
    #district-info{
        margin-left: 84px;

    }
    #load{
        margin-left:220px;
        margin-top:100px;
        margin-bottom: 1500px;
        width: 100px;
        height: 100px;
        background:rgb(3, 178, 201);
        position: relative;
        animation: mymove 2s infinite;
        border-radius:10px;
    }
    #load-heading{
        text-align: center;
        margin-left: 180px;;
    }
    @keyframes mymove {
        from {transoform: rotate(0deg);}
        to {transform : rotate(360deg);}
    }
    
} */
