/* helpline
#helpline-heading{
    text-align: center;
    padding-top : 70px;
}
#helpline{
    margin-left: 250px;
    margin-right: 250px;
    
    line-height: 30px;
}
#helpline-heading{
    text-align: center;
}
@media screen and (max-width: 600px){
    #helpline{
        margin-left: 20px;
        margin-right: -150px;
        
        line-height: 30px;
       

    }
    #helpline-state{
        list-style-type: none;
       
    }
   
    #helpline-heading{
        padding-top:65px; 
        padding-bottom: 20px;
        text-align: center;
    }
    #helpline-heading{
        text-align: center;
    }
} */


.helpline-start{
    margin-top: 80px;
}
#helpline{
    display: flex;
    flex-direction: row;
    
    justify-content: space-around;
}


@media screen and (max-width: 600px){
    #helpline{
        flex-direction: column;
    }

}