.main{
    display: flex;
    flex-direction: column;
    min-height: 91vh;
  
  }
    
  .contain{
    flex: 1;
    /* width: 100%; */
    font-family: 'Cagliostro', sans-serif;
    /* background-color: blue; */
    padding-bottom: 20px;
    margin-top: 60px;
  }